<html>
    <head>
        <title>Select Mood</title>
    </head>
    <body>
        
        <h1>How are you feeling today?</h1>
        <form action="/submit-mood" method="POST">
            <button type="submit" name="mainMood" value="Happy">

            </button>
            <button type="submit" name="mainMood" value="Sad">

            </button>
            <button type="submit" name="mainMood" value="Angry">

            </button>
            <button type="submit" name="mainMood" value="Fear">

            </button>
            <button type="submit" name="mainMood" value="Disgust">

            </button>
        </form>

    </body>
</html>
